body {
  margin: 0;
  background-color: lightgrey;
  
}

#gamediv {
  display: flex;
  justify-content: center;
}

#scorediv {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 10px;
  
}

.gametext {
  margin: 5px;
  font-size: 25px; 
  color: white;
  font-family: "Brush Script MT";
}

#gamescreen {
  position: absolute;
  border-radius: 2%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@media only screen and (orientation: landscape) {
  #gamescreen {
    height: 100%;
  }
}

@media only screen and (orientation: portrait) {
  #gamescreen {
    width: 100%;
  }
}

#gui {
  position: absolute;
}
