body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

#gamediv {
  position: absolute;
}

#scorediv {
  padding-left: 5px;
  position: absolute;
}

.gametext {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-size: 20px; 
  color: white;
  font-family: Fantasy
}

#gamescreen {
  border: 2px;
  border-color: #000000;
  border-style: solid;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  position: absolute;
  top: 0;
  left: 0;
}

#gui {
  border: 2px;
  border-color: #000000;
  border-style: solid;

  position: absolute;
  top: 0;
  left: 0;
}
